
        body {
            font-family: Arial, sans-serif;
            margin: 0 0 0 0;
            padding: 0 0 0 0;
        }
        .container {
            width: 100%;
            margin: auto;
            padding-left: 1px;
        }
        .map {
            width: 100%;
            margin-top: 0px;
            
        }
        header {
            background: rgb(42, 19, 247);
            color: white;
            padding: 15px ;
        }
        .menu-toggle {
            display: none;
            background: none;
            margin-top: 10px;
            border: none;
            font-size: 24px;
            color: white;
            cursor: pointer;
        }
        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
        }
        nav ul li {
            margin-right: 20px;
        }
        nav ul li a {
            color: white;
            text-decoration: none;
            font-size: 18px;
        }
        nav-menu{
            margin-right: 50px;
            padding: 50px;
        }
        .image
        {
            margin-top: 10px;
            border-radius: 70%;
            margin-bottom: -15px;
            width: 55px;
        }
        @media (max-width: 768px) {
            .menu-toggle {
                display: block;
            }
            nav ul {
                display: none;
                flex-direction: column;
                background: rgb(58, 58, 179);
                margin-top: 60px ;
                width: 90%;
                margin-right: inherit;
                position: absolute;
                width: 100%;
            }
            nav ul li {
                text-align: left;
                padding: 10px 10px;
            }
            nav.active ul {
                display: flex;
            }
        }
        .search-box input {
            width: 80%;
            padding: 10px;
            margin-top: 10px;
            margin-left: 20px; 
    
        }
        main {
            display: grid;
            grid-template-columns: 1fr 2fr; /* Sidebar takes 1 part, Map takes 2 */
            gap: 10px;
            padding: 10px;
        }
        .route-info{
            margin-left: 15px;
        }

       

    


